*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

client/css/styles.css
client/fonts/bootstrap/glyphicons-halflings-regular.eot
client/fonts/bootstrap/glyphicons-halflings-regular.svg
client/fonts/bootstrap/glyphicons-halflings-regular.ttf
client/fonts/bootstrap/glyphicons-halflings-regular.woff
client/fonts/bootstrap/glyphicons-halflings-regular.woff2