*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log


client/*

target/Taranthontheque-0.0.1.jar
target/lint.cache
target/maven-archiver/pom.properties
release/css/styles.css