.tatek-mini-img {
	margin-left:25px;
	width:15px;
	height:15px;
	display:inline-block;
}

.social-bar {
  float: right !important;
}
.sticky-wrapper {
	.header {
		.inner {
			background: #e22426 !important;
			background-color: #e22426 !important;
		}
		.logo {
			margin:10px 40px 0 0  !important;
			img {
				max-width: none !important;
			}
		}
	}
}
.menu {
	font-weight:bold;
}
.hero-static h1 {
	font-weight: bold !important;
}

.footer {
	.footer-subscribe-widget, .copyright {
		background: #e22426 !important;
		background-color: #e22426 !important;
	}
	.footer-subscribe-widget .btn {		
		background: #fcd755 !important;
		background-color: #fcd755 !important;
		color:#333 !important;
	}
}
.sticky-btns span {
		background: #e22426 !important;
		background-color: #e22426 !important;
	&:hover {
		background: #e22426 !important;
		background-color: #e22426 !important;
	}
}
